.schedule {
    .alert {
        border-radius: 2px;
        border: none;
        padding: 3px 10px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .title {
        font-size: 2rem;
        font-family: var(--title-font);

        .icon {
            width: 30px;

        }
    }

    .flight-item {
        .iata-icon {
            max-height: 24px;
        }

        .location {
            color: var(--red-clr) !important;
        }

        .date-time {
            min-width: 120px;
        }

        .date-time,
        .flight-status {
            min-width: 110px;
        }
    }



    @media screen and (max-width: 576px) {
        .border-bottom-sm {
            border-bottom: 2px dashed var(--border-clr);
        }

        .list-group {
            background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
        }

        .list-group-item {
            margin-bottom: 10px !important;
        }
    }
}