<div class="flights my-5 ms-md-5 card border-0">
    <div class="title p-4">
        <h4>
            <img class="icon me-3" src="./assets/icons/departures.svg" alt="Departures"> {{'HOME.DEPARTURES'|translate}}
        </h4>
    </div>

    <div class="departure-list px-4">
        <ul class="list-group list-group-flush">
            @for (flight of flightInfo; track $index) {
            <li class="list-group-item d-flex justify-content-between align-items-start" tabindex="0">
                <article class="p-2 flight-item w-100">
                    <a routerLink="" class="d-flex" tabindex="-1">
                        <div class="pe-2 date-time">
                            <h5 class="mb-1"><b>{{flight.depTime}}</b></h5>
                            <small class="text-body-secondary"> <del>{{flight.oldTime}}</del></small>
                            <p class="fw-semi"> {{flight.date}}</p>
                        </div>
                        <div class="flex-grow-1 pe-2">
                            <div class="d-flex">
                                <h5 class="mb-1 f-title location">{{flight.destination}}</h5>

                            </div>
                            @for (airline of flight.airlines; track $index)
                            {
                            <p class="mb-1"> <b class="me-2"> {{airline.code}}</b>
                                <small class="text-body-secondary">
                                    {{airline.name}}
                                </small>
                            </p>
                            }

                        </div>
                        <div class="flight-status">
                            <small class="text-body-secondary ms-auto f-title fw-semi">
                                <div class="alert mb-1 text-uppercase"
                                    [ngClass]="{'alert-warning': flight.status.type === 'delayed', 'alert-success': flight.status.type === 'departed', 'alert-info': flight.status.type === 'onTime', 'alert-danger': flight.status.type === 'cancelled'}"
                                    role="alert">
                                    {{flight.status.name}}

                                </div>
                            </small>

                            <!-- TODO translation -->
                            <p class="text-uppercase">
                                <small class="text-body-secondary pe-2">
                                    Gate
                                </small>
                                <b class="">{{flight.gate}}</b>
                            </p>
                        </div>
                    </a>
                </article>
            </li>
            }
        </ul>

        <div class="py-3 d-flex justify-content-end ">
            <a [routerLink]="['/routePath']" class="text-uppercase fw-semi"> View All <span class="icon"><img
                        src="./assets/icons/arrow-right.svg" alt="View All"></span></a>
        </div>
    </div>

</div>