.flights {
    height: 100%;
    width: 100%;

    .alert {
        border-radius: 2px;
        border: none;
        padding: 3px 10px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .title {
        font-size: 2rem;
        font-family: "Ubuntu", sans-serif;

        .icon {
            width: 30px;

        }
    }

    .flight-item {
        .location {
            color: #b71540;
            font-weight: 700 !important;
        }

        .date-time {
            min-width: 120px;
        }

        .date-time,
        .flight-status {
            min-width: 110px;
        }
    }



    @media screen and (max-width: 576px) {
        .border-bottom-sm {
            border-bottom: 2px dashed #f7f2f2;
        }

        .list-group {
            background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
        }

        .list-group-flush>.list-group-item {
            margin-bottom: 10px !important;
        }
    }
}