.flights {
    height: 100%;
    width: 100%;

    .alert {
        border-radius: 2px;
        border: none;
        padding: 3px 10px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .title {
        font-size: 2rem;
        font-family: "Ubuntu", sans-serif;

        .icon {
            width: 30px;

        }
    }


}