<div class="flights ">
    <div class="title py-4">
        <h4 class="f-title">
            <img class="icon me-3" src="./assets/icons/departures.svg" alt="Departures"> {{'HOME.DEPARTURES'|translate}}
        </h4>
    </div>
    <div class="departure-list card  border-0">
        <ul class="list-group list-group-flush">
            @for (flight of flightInfo; track $index) {
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <a routerLink="/flight-details" class="p-2 flight-item w-100" tabindex="0">
                    <article class="d-flex">
                        <div class="pe-2 date-time">
                            <h6 class="mb-1 f-title"><b>{{flight.depTime}}</b></h6>
                            <small class="text-body-secondary"> <del>{{flight.oldTime}}</del></small>
                            <p class="fw-semi"> {{flight.date}}</p>
                        </div>
                        <div class="flex-grow-1 pe-2">
                            <div class="d-flex">
                                <h6 class="mb-1 f-title location"> {{flight.destination}}</h6>

                            </div>
                            @for (airline of flight.airlines; track $index)
                            {
                            <p class="mb-0"> <b class="me-2"> {{airline.code}}</b>
                                <small class="text-body-secondary">
                                    {{airline.name}}
                                </small>
                            </p>
                            }

                        </div>
                        <div class="flight-status">
                            <small class="text-body-secondary ms-auto f-title fw-semi">
                                <div class="alert mb-1 text-uppercase f-title"
                                    [ngClass]="{'alert-warning': flight.status.type === 'delayed', 'alert-success': flight.status.type === 'departed', 'alert-info': flight.status.type === 'onTime', 'alert-danger': flight.status.type === 'cancelled'}"
                                    role="alert">
                                    {{flight.status.name}}

                                </div>
                            </small>

                            <!-- TODO translation -->
                            <p class="text-uppercase">
                                <small class="text-body-secondary pe-2">
                                    Gate
                                </small>
                                <b class="">{{flight.gate}}</b>
                            </p>
                        </div>

                    </article>
                </a>
            </li>
            }
        </ul>
    </div>
    <div class="py-3 d-flex justify-content-end ">
        <a routerLink="/all-flights" class="back-link d-flex align-items-center f-title" tabindex="0">
            All flights <span class="arrow-icon ms-2"><img src="./assets/icons/arrow-right.svg"
                    alt="All flights"></span>
        </a>
    </div>
</div>