.modal-header {
    background-color: #fff;
}

.schedule-header {
    h5 img {
        width: 30px;
    }
}

.modal-body {
    padding: 0 !important;
}

.modal-body::-webkit-scrollbar {
    width: 0;
    /* Scrollbar width */
}