<div class="language-switcher">
    <div ngbDropdown class="d-inline-block" display="dynamic">
        <button type="button" class="btn btn-link dropdown-toggle f-title" id="lang-switch-dropdown" ngbDropdownToggle>
            <img [src]="langFlagAssetUrl + currentLang.icon+'.svg'" [alt]="currentLang.name" class="me-2">
            {{currentLang.name}}
        </button>

        <div ngbDropdownMenu aria-labelledby="lang-switch-dropdown" class="shadow-sm border-0 me-2">
            @for (language of availableLanguages; track language.code) {
            <button class="dropdown-item" ngbDropdownItem (keydown.enter)="switchLanguage(language)"
                (click)="switchLanguage(language)"><span class="f-title"><img
                        [src]="langFlagAssetUrl + language.icon+'.svg'" [alt]="language.name" class="me-2">
                    {{language.name}}</span> </button>
            }
        </div>
    </div>
</div>