.language-switcher {
    display: flex;
    align-items: center;
}

.language-switcher button {
    background: none;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.language-switcher button.active {
    font-weight: bold;
}

.language-switcher img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}