.loc-mapview {
    width: 100%;
    position: relative;
    height: 820px;

    @media screen and (max-width: 768px) {
        height: 400px;
    }

    .map-tools {
        position: absolute;
        top: 100px; // Changed margin-top to top for more direct positioning control
        left: 8px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .dropdown-toggle::after {
            display: none;
        }

        .map-btn {
            width: 32px;
            height: 32px;
            background-color: var(--white-clr);
            border: 1px solid var(--white-clr);
            margin-bottom: 4px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 20px;
            }

            &:hover {
                border-color: var(--border-clr-dark);
            }
        }
    }

    .ol-popup {
        position: absolute;
        background-color: var(--white-clr);
        box-shadow: var(--bs-box-shadow-sm) !important;
        padding: 15px;
        border-radius: var(--bs-border-radius);
        border: 1px solid var(--border-clr);
        bottom: 50px;
        left: -50px;
        min-width: 280px;

        &::after,
        &::before {
            top: 100%;
            border: solid transparent;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            left: 48px;
        }

        &::after {
            border-top-color: var(--white-clr);
            border-width: 10px;
            margin-left: -10px;
        }

        &::before {
            border-top-color: var(--border-clr);
            border-width: 11px;
            margin-left: -11px;
        }
    }

    .ol-popup-closer {
        position: absolute;
        top: 2px;
        right: 8px;
        text-decoration: none;
        font-family: var(--title-font);

        &::after {
            content: "✖";
            color: var(--bs-secondary-color) !important;
        }
    }
}