<section class="airport-loc-map">
    <div #mapContainer class="loc-mapview">
        <div class="map-tools">
            <div ngbDropdown class="d-inline-block" display="dynamic">
                <button tabindex="0" type="button" class="btn btn-link map-btn" id="map-layer-dropdown"
                    ngbDropdownToggle>
                    <img src="./assets/icons/layer-group.svg" alt="{{'MAP_TOOLS.SELECT_LAYER'|translate}}">
                </button>
                <div ngbDropdownMenu aria-labelledby="map-layer-dropdown" class="shadow-sm border-0">
                    @for (layer of mapLayers; track layer.value) {
                    <button class="dropdown-item" ngbDropdownItem (click)="selectLayer(layer.value)"><span
                            class="f-title"
                            [ngClass]="{'active-btn': layer.value === currentlayerKey}">{{layer.name}}</span> </button>
                    }
                </div>
            </div>

            <button tabindex="0" class="btn btn-link map-btn" type="button" (click)="resetZoom()"> <img
                    src="./assets/icons/reset.svg" alt="{{'MAP_TOOLS.SELECT_LAYER'|translate}}"></button>
        </div>
    </div>
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"><span class="visually-hidden">close</span></a>
        <div id="popup-content"></div>
    </div>
</section>