<section class="airportlist-container me-0 me-lg-5">
    <div class="airportlist">
        <div class="search-box pt-3 pb-3 d-flex align-items-center border-bottom">
            <form [formGroup]="searchForm" class="w-100">
                <div class="input-group">
                    <input type="text" class="form-control" formControlName="searchTerm" placeholder="Search airports"
                        id="searchInput" [tabindex]="showFlightList ? -1 :0">

                    @if (searchForm.get('searchTerm')?.value) {
                    <button type="button" class="icon-button close-icon-button me-2" (click)="clearSearchInput()"
                        tabindex="0"><span class="arrow-icon"><img src="./assets/icons/close.svg"
                                alt="All flights"></span></button>
                    }

                </div>
            </form>




        </div>
        <div class="list-item-wrapper">
            <ul class="list-group list-group-flush">
                @for (airport of filteredAirports; track airport.iata_code) {
                <li class="list-group-item d-flex justify-content-between align-items-start btn-hover-light c-pointer"
                    (click)="updateAirportInfo(airport)" (keydown.enter)="updateAirportInfo(airport)"
                    [tabindex]="showFlightList ? -1 :0">
                    <div class="ms-2 me-auto">
                        <h5 class="f-title"> {{ airport.name }}</h5>
                        <p>
                            <small class="text-body-secondary">{{ airport.city }}</small>
                        </p>
                    </div>
                    <span class="arrow-icon"><img src="./assets/icons/arrow-right.svg" alt="View All"></span>
                </li>
                }
                @empty {
                <li class="list-group-item list-group-item-warning"> {{ 'MESSAGE.NO_RESULT_FOUND' |
                    translate }}</li>
                }
            </ul>
        </div>
    </div>
    <!-- flight details -->
    @if (showFlightList) {
    <div class="airportlist-details bg-light pt-3">
        <button type="button" class="icon-button" (click)="closeFlightList()" tabindex="0"><span class="arrow-icon"><img
                    src="./assets/icons/arrow-left.svg" alt="All flights"></span></button>
        <div class="flight-header border-bottom py-2">
            <h4 class="f-title"> {{selectedAirport.name}}</h4>
            <small class="text-body-secondary">{{ selectedAirport.city }}</small>
        </div>
        <app-flights [airportId]="selectedAirport?.iata_code" [@inOutAnimation]></app-flights>
    </div>
    }

</section>