.airportlist-container {
    position: relative;
    height: 100%;

    .close-icon-button {

        position: absolute;
        right: 2px;
        /* Adjust based on padding and border of input */
        top: 50%;
        transform: translateY(-50%);
        border: none;
        /* Remove border */
        background: none;
        /* Remove background */
        cursor: pointer;
        z-index: 10;

        img {
            width: 14px;
        }
    }

    .list-group-flush>.list-group-item {
        background-color: transparent !important;
    }

    .list-item-wrapper {
        max-height: 710px;
        overflow-y: scroll;
    }

    // TODO : check design
    .list-item-wrapper::-webkit-scrollbar {
        width: 0;
        /* Scrollbar width */
    }

    .list-item-wrapper::-webkit-scrollbar-track {
        // background: #f1f1f1;
        /* Track color */
    }

    .list-item-wrapper::-webkit-scrollbar-thumb {
        // background: #888;
        /* Thumb color */
    }

    .list-item-wrapper::-webkit-scrollbar-thumb:hover {
        background: #555;
        /* Thumb color on hover */
    }


    .airportlist-details {
        position: absolute;
        top: 0;
        background-color: antiquewhite;
        overflow-y: hidden;
        height: 100%;
        z-index: 999;




        @media screen and (max-width:992px) {
            // height: 100vh;
            overflow-y: scroll;
        }
    }

    // TODO : check design
    .airportlist-details::-webkit-scrollbar {
        width: 0;
        /* Scrollbar width */
    }

    .airportlist-details::-webkit-scrollbar-track {
        // background: #f1f1f1;
        /* Track color */
    }

    .airportlist-details::-webkit-scrollbar-thumb {
        // background: #888;
        /* Thumb color */
    }

    .airportlist-details::-webkit-scrollbar-thumb:hover {
        background: #555;
        /* Thumb color on hover */
    }


    @media screen and (max-width:992px) {
        // max-height: 400px;
        // padding-bottom: 100px;


        .list-item-wrapper {
            // max-height: 310px;
            overflow-y: scroll;
        }
    }
}