<section class="search-area my-5">
    <!-- TODO: translate -->
    <div class="selected-airport d-flex align-items-center">
        <div class="airport-name d-flex align-items-center pe-3">
            <div class="icon-box rounded d-flex align-items-center justify-content-center me-3 p-1">
                <img class="" src="./assets/icons/airport.svg" alt="">
            </div>
            <h3 class="mb-0 fw-medium  f-title">{{selectedAirport?.name}}</h3>
        </div>

        <button type="button" class="btn-list ms-auto" (click)="toggleAirportList()">
            <img src="./assets/icons/list-ol.svg" alt="Airport">
        </button>

        <div class="airportlist-wrapper card shadow-sm border-0" *ngIf="showAirportList">
            <div class="card-wrapper">
                <button type="button" class="btn-close" aria-label="Close" (click)="toggleAirportList()"></button>
                <div class="card-body mt-4">

                    <form [formGroup]="searchForm" class="mb-3">
                        <!-- <input type="text" formControlName="searchTerm" placeholder="Search airports"> -->
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="searchTerm"
                                placeholder="Search airports" id="searchInput">
                            <!-- TODO: add close button -->
                            <!-- <button type="button" class="btn btn-outline-secondary btn-sm" (click)="clearSearchInput()">
                                <i class="bi bi-x-lg"></i> </button> -->
                            <!-- 
                            <button type="button" class="btn-inputclear" aria-label="Close"
                                (click)="clearSearchInput()"></button> -->
                        </div>
                    </form>

                    <div class="mt-2">
                        <ul class="list-group">
                            @for (airport of filteredAirports; track airport.iata_code) {
                            <li class="list-group-item d-flex justify-content-between align-items-start btn-hover-light c-pointer"
                                tabindex="0" (click)="updateAirportInfo(airport)">
                                <div class="ms-2 me-auto">
                                    <div class="fw-medium f-title"> {{ airport.name }}</div> {{ airport.city }}
                                </div>
                                <span class="badge text-bg-primary rounded-pill">14</span>
                            </li>
                            }
                            @empty {
                            <!-- TODO : translation -->
                            <li class="list-group-item list-group-item-warning"> {{ 'MESSAGE.NO_RESULT_FOUND' |
                                translate }}</li>
                            }
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-airport-loc-map [airportData]="airportList"></app-airport-loc-map>
</section>