.search-area {
    .selected-airport {
        position: relative;
        background-color: #002868;
        padding: 10px 30px;

        .airport-name {
            color: #ffffff;

            .icon-box {
                background-color: #ffffff;
            }
        }

        .btn-list {
            background-color: transparent;
            padding: 0;
            border: none;

            img {
                width: 30px;
            }
        }

        .airportlist-wrapper {
            position: absolute;
            top: 100%;
            right: 0;
            width: 360px;
            transition: opacity 0.3s ease-in-out;
            background: white;
            z-index: 1000;

            .airport-list-container {
                max-height: calc(100vh - 400px);
                overflow-y: scroll;
            }

            // TODO : check design
            .airport-list-container::-webkit-scrollbar {
                width: 5px;
                /* Scrollbar width */
            }

            .airport-list-container::-webkit-scrollbar-track {
                // background: #f1f1f1;
                /* Track color */
            }

            .airport-list-container::-webkit-scrollbar-thumb {
                // background: #888;
                /* Thumb color */
            }

            .airport-list-container::-webkit-scrollbar-thumb:hover {
                background: #555;
                /* Thumb color on hover */
            }

            .card-wrapper {
                position: relative;

                .btn-close {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
            }
        }
    }
}