.search-area {
    .selected-airport {
        position: relative;

        .airport-name {

            // background-color: #fff;
            .icon-box {
                background-color: #ffffff;

            }
        }

        .btn-list {
            background-color: transparent;
            padding: 0;
            border: none;

            img {
                width: 30px;
            }

        }

        .airportlist-wrapper {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            transition: opacity 0.3s ease-in-out;
            background: white;
            z-index: 1000;

            .card-wrapper {
                position: relative;

                .btn-close {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
            }

        }
    }


}