<app-header></app-header>
<main>
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-12 order-1 order-md-0  col-md-6 col-xl-5 col-xxl-4">
        <aside>
          <router-outlet></router-outlet>
        </aside>
      </div>
      <div class="col-12  order-0 order-md-1    col-md-6 col-xl-7 col-xxl-8">
        <div class="mapview-container">
          <app-airport-loc-map></app-airport-loc-map>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>