/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root {
    // colors
    --title-clr: #002868;
    --border-clr: #f7f2f2;
    --border-clr-dark: #d8d8d8;
    --red-clr: #b71540;
    --white-clr: #ffffff;

    // fonts
    --title-font: "Ubuntu", sans-serif;
    --body-font: "Poppins", sans-serif;
}

/* global styles */
body {
    color: var(--title-clr);
}

a {
    text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
    color: var(--title-clr) !important;
    font-family: var(--title-font);
    font-weight: 400 !important;
    margin-bottom: 0 !important;
}

p {
    font-family: var(--body-font);
    font-weight: 400 !important;
    font-size: 0.875rem !important;
    margin-bottom: 0 !important;
}

b {
    font-weight: 600 !important;
}

.modal {
    --bs-modal-border-radius: 0 !important;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: var(--red-clr);
}

.f-title {
    font-family: var(--title-font);
}

.bg-test {
    background-color: yellow;
}

.fw-semi {
    font-weight: 600 !important;
}


.fw-med {
    font-weight: 500 !important;
}

.border-0 {
    border: 0 !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.c-pointer {
    cursor: pointer;
}

.btn-link {
    color: inherit;
    text-decoration: none;
    padding: 0;
}

.btn-link:hover {
    color: var(--border-clr-dark) !important;
}

.list-group-flush>.list-group-item:last-child,
.list-group-item:first-child,
.border-bottom,
.border-top,
.form-control,
.list-group-item {
    border-color: var(--border-clr) !important;
}

.list-group-flush>.list-group-item:last-child,
.list-group-item:first-child,
.form-control,
.list-group-item {
    border-radius: var(--bs-border-radius);
}

.arrow-icon {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    background-color: var(--white-clr);
    border-radius: 50%;
    border: 1px solid var(--border-clr);
}

.arrow-icon img,
.icon-button img {
    width: 24px;
}

.sub-header {
    .back-link {
        font-weight: 400;
        color: var(--title-clr) !important;
        text-decoration: none;
    }
}

.icon-button {
    border: 0;
    background-color: transparent;
    padding: 0;
}

/* OpenLayers control styling */

.ol-zoom {
    border-radius: var(--bs-border-radius) !important;
    background-color: transparent;

    .ol-zoom-in,
    .ol-zoom-out {
        width: 32px;
        height: 32px;
        font-size: 20px;
        line-height: normal;
        border-radius: var(--bs-border-radius) !important;
        margin-bottom: 4px;


    }

    button {
        color: var(--title-clr);
        font-family: var(--body-font);
        background-color: var(--white-clr);
        display: flex !important;
        align-items: center;
        justify-content: center;
        padding: 0 !important;
    }
}